.weather-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8E8E8E;
  padding: 2rem;
  border: 0px;
  border-radius: 8px;
  opacity: 70%;
}

#city-name {
  font-size: 43px;
  color: #E6E6E6;
}

#weather-description {
  display: inline-flex;
  margin-top: -30px;
}

#weather-description h3 {
  margin-right: 7px;
  font-size: 40px;
  color: #E6E6E6;
  align-items: center;
}

#input-form {
  padding: 20px;
}

#city-input {
  padding: 16px;
  background-color: #E6E6E6;
  border: 0px solid;
  color: black;
}

.btn {
  padding: 16px;
  background-color: #E6E6E6;
  border: 0px solid;
  color: black;
}

.result-hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.result-visible {
  visibility: visible;
}
